html {
    margin: 0 auto;
}

button {
    border: 0 solid black;
    background-color: blue;
    font-size: large;
    margin: 0 auto;
    display: block;
}

input {
    font-size: large;
}

.prisijungimas {
    height: 200px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    font-size: large;
    line-height: 1.5;
}

#uzklausa {
    display: flex;
    vertical-align: top;
    justify-content: center;
}

a {
    text-decoration: underline;
    color: black;
    transition: all 0.5s;
}

a,
.list-group-item:hover {
    color: blue;
    text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;
}

.tekstas {
    font-size: large;
    text-align: center;
    line-height: 2;
}

.patinka {
    padding-left: 10px;
}

.modal-title {
    margin: auto auto auto auto;
}